@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
	--dark-clr: #090d11;
	--container-dark-clr: #18191b;
	--blue-clr: #147ce5;
	--alt-blue-clr: #1267bd;
	--white-clr: #fff;
	--text-color: #0f0f10c7;
	--overlay-color: rgba(0,0,0,0.8)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	margin: 4rem 0 0 0;
	font-size: 15px;
	color: var(--white-clr);
	font-family: "Poppins", sans-serif;
	background: var(--dark-clr);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-weight: 600 !important;
}

img {
	width: 100%;
	height: auto;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

.main {
	overflow: hidden;
}

.section {
	padding: 4rem 0 2rem;
}

.container {
	max-width: 968px;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.btn {
	padding: 10px 20px;
	color: var(--white-clr);
	background: var(--blue-clr);
	border-radius: 10px;
	font-weight: 600;
	transition: 0.4s;
}

.btn:hover {
	background: var(--alt-blue-clr);
}

.btn-b {
	padding: 10px 15px;
	color: var(--white-clr);
	border: 1px solid var(--white-clr);
	border-radius: 20px;
	font-weight: 600;
	transition: 0.4s;
}

.btn-b:hover {
	background: var(--white-clr);
	color: var(--dark-clr);
	border: none;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: transparent;
	transition: 0.5s;
}

.nav {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

.logo{
	/* height: 10px; */
	width: 5.2rem;
	margin-right: 20px;
}

.logo,
.nav-toggle,
.nav-close {
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.nav-toggle {
	font-size: 1.2rem;
}

.section-b{
	background: white;
	/* background-size: 150px; */
	/* height: 200px; */
	position: relative;
	background: url('../images/gallery\ 1.jpeg') no-repeat bottom center/cover;
	height: 400px;
	
}





.section-b-inner{
	color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	max-width: 860px;
	padding: 5rem 0;

}

.section-b-inner h3{
	font-size: 72px;
  
}

.section-b-inner h2{
	font-size: 3rem;
	margin-top: 1rem;
	background: -webkit-linear-gradient(rgb(79, 169, 192), rgb(11, 227, 255));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.section-b-inner p{
	font-size: 1.5rem;
	margin-top: 1rem;
	background: -webkit-linear-gradient(rgb(164, 197, 195), rgb(147, 174, 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--overlay-color);
}

.section-c .gallery{
	display: grid;
	grid-template-columns: repeat(5,1fr);
}

.section-c .gallery a:first-child{
	grid-row: 1/3;
	grid-column: 1/3;
}

.section-c .gallery a:nth-child(2){
	grid-column: 3/5;
}

.section-c .gallery img, .section-c .gallery a:nth-child(2){
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767px) {

	.nav-menu {
		/* height: 100%; */
		position: fixed;
		-webkit-backdrop-filter: blur(8px);
  		backdrop-filter: blur(10px);
		top: -100%;
		left: 0;
		width: 100%;
		padding: 4rem 0;
		transition: 0.4s;
	}

	.section-b-inner h3{
		font-size: 1.5rem;
	}

	.section-b-inner h2{
		font-size: 2rem;
	}

	.section-b-inner p{
		font-size: 1rem;
	}

	.section-c .gallery {
		grid-template-columns: repeat(3,1fr);
	}


	.section-c .gallery a:nth-child(4){
		display: none;
	}
	

	


}

.nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* padding-left: 20px; */
	row-gap: 2rem;
}

.nav-link {
	font-weight: 900;
	color: var(--white-clr);
	font-size: 1.2rem;
	/* font-weight: 500; */
	transition: 0.4s;
}

.nav-link:hover {
	color: rgba(204, 204, 204, 204);
}

.nav-close {
	position: absolute;
	top: 1rem;
	right: 1.2rem;
	font-size: 2rem;
}

.show-menu {
	top: 0;
}

.home{
	height: 100vh;
}

.home-img{
	width: 350px;
	overflow: hidden;
	z-index: -1;
}

.home-img img{
	/* height: 100%; */
	max-width: 450px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

span{
	color: white;
	font-weight: 800;
}

.home-data{
	margin-top: 3.8rem;
}

.home-subtitle{
	font-size: 1.125rem;
}

.home-title{
	font-weight: 900;
	margin-top: 2rem;
	font-size: 3.1rem;
}

.home-description{
	margin-top: 1rem;
	line-height: 2rem;
	color: rgba(255, 255, 255, 0.794);
}

.buttons{
	margin-top: 3rem;
}


/* FOOTER  */

footer{
	position: absolute;
	
	background: #000;
	height: auto;
	width: 100vw;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding-top: 40px;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

}

.footer-content h3{
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li{
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
	color: #fff;
}

.socials a i{
	font-size: 1.5rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color: rgb(179, 179, 179);
}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .6;
	font-weight: 400;
}
